{
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "es6": true,
    "amd": false,
    "commonjs": true
  },
  "extends": "eslint:recommended",
  "globals": {},
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-unused-vars": [
      1,
      {
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "res|next|^err"
      }
    ]
  }
}
