$container-max-widths: (
  xs: 90%,
  sm: 400px,
  md: 688px,
  lg: 944px,
  xl: 1194px,
  xxl: 1468px,
);

$breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1274px,
  xxl: 1548px,
);
