@use '../../styles/vars/colors' as *;

.home-actions {
  @for $i from 1 through length($colors) {
    .btn:nth-child(#{length($colors)}n + #{$i}) {
      $color: nth($colors, $i);
      --color: #{$color};
      --hover-text: #{darken($color, 50%)};
      border-color: var(--color);
      color: var(--color);

      &:focus,
      &:hover {
        outline: none;
        color: var(--hover-text);
        filter: hue-rotate(15deg);
        background: var(--color);
      }
    }
  }
}
