include partials/header.pug
body
  main.not-found
    code
      |
      |{
      |  samplesAPI: {
      |    error: "404 Page not Found"
      |  }
      |}
      |
    p
      | Take me 
      a(href="/") home