include partials/header.pug
body
  main
    article.site
      .site__inner
        a(href="/" class="backBtn") Home
        h1.site__title #{title} has been reset.
        p Looks like everything reset ok. Navigate to any endpoint and start playing.
