@use '../../styles/functions/colors';

.link {
  color: colors.use-var(text, light);

  &:focus,
  &:active,
  &:hover {
    outline: none;
    color: colors.use-var(primary);
  }

  span {
    display: inline-block;
    padding: 0 5px;
  }
}
