doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Sample APIs
  link(rel='stylesheet' href='/assets/styles/home-styles.css')
  
  // FACEBOOK
  meta(property='og:title' content='Sample APIs')
  meta(property='og:site_name' content='Sample APIs')
  meta(property='og:url' content='https://sampleapis.com')
  meta(property='og:description' content='A playground for RESTful endpoints.')
  meta(property='og:image' content='https://sampleapis.com/assets/images/poster.jpg')
  meta(property='og:type' content='website')
  
  // TWITTER
  meta(property='twitter:card' content='A playground for RESTful endpoints.')
  meta(property='twitter:title' content='Sample APIs')
  meta(property='twitter:description' content='A playground for RESTful endpoints.')
  meta(property='twitter:creator' content='Jermbo')
  meta(property='twitter:url' content='https://sampleapis.com')
  meta(property='twitter:image' content='https://sampleapis.com/assets/images/poster.jpg')
  meta(property='twitter:image:alt' content='Sample APIs')
  
  // Global site tag (gtag.js) - Google Analytics
  script(async='async' src='https://www.googletagmanager.com/gtag/js?id=UA-125356349-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
    dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "UA-125356349-1");