@use './functions/colors';
@use './functions/fonts';

.api-filter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "";
    position: absolute;
    display: block;
    border-top: 6px solid colors.use-var(text, light);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }

  select {
    border: 1px solid transparent;
    border-bottom: 1px solid colors.use-var(text, light);
    padding: 0.5rem;
    background-color: transparent;
    color: colors.use-var(text, light);
    appearance: none;
    font-size: fonts.size(text, 2);
    transition: all 0.25s ease;

    &:focus,
    &:hover {
      border: 1px solid colors.use-var(text, light);
      outline: none;
    }
  }
}
