@use './functions/colors';

.top-pane {
  background-color: hsl(225, 6%, 25%);
}

.editor {
  display: flex;
}

.pane {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.expand-collapse-btn {
  background: none;
  border: none;
  color: colors.use-var(text, light);
  cursor: pointer;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: colors.use-var(bg, darkest);
  color: colors.use-var(text, light);
  padding: 0.5rem;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  overflow: auto;
}
