@use './functions/colors';
@use './functions/fonts';
@use './vars/colors' as *;

.api-endpoints {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: .75rem;
}

.api-endpoint {
  list-style: none;
  display: block;

  @for $i from 1 through length($colors) {
    &:nth-child(#{length($colors)}n + #{$i}) {
      .btn {
        $color: nth($colors, $i);
        --color: #{$color};
        --hover-text: #{darken($color, 50%)};
        border-color: var(--color);
        color: var(--color);

        &:focus,
        &:hover {
          outline: none;
          color: var(--hover-text);
          background: var(--color);
        }
      }
    }
  }

  a {
    // color: colors.use-var(text, light);
    display: inline-block;
    text-transform: capitalize;
  }
}
