@use './functions/colors';
@use './vars/colors' as *;

.api-categories {
  margin: 0;
  padding: 0 1rem 0 0;
}

.api-category {
  font-size: 0.85rem;
  list-style: none;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  border-radius: 10px;
  border-color: var(--cat-color);
  background: var(--cat-color);
  color: colors.use-var(text, dark);

  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  @for $i from 1 through length($colors) {
    &:nth-child(#{length($colors)}n + #{$i}) {
      --cat-color: #{nth($colors, $i)};
    }
  }
}
