@use './functions/colors';
@use './functions/fonts';

.api-search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
}

.api-search__inner {
  color: colors.use-var(text, light);
  font-size: fonts.size(text, 1);

  svg {
    font-size: fonts.size(text, 1);
    cursor: pointer;
    transition: all 0.25s ease-out;
    transform: scale(1);

    &:hover {
      transform: scale(1.2);
    }
  }

  input {
    font-size: fonts.size(text, 1);
    height: 30px;
    width: 0;
    padding: 1rem;
    background: transparent;
    color: colors.use-var(text, light);
    border: solid 0 transparent;
    border-bottom: solid 1px colors.use-var(text, light);
    outline: 0;
    text-align: right;
    transition: all 0.25s ease-out;
    transform: scaleX(0);
    transform-origin: center right;

    &:focus {
      width: 200px;
      transform: scaleX(1);
    }
  }
}
