@use './functions/screens';
@use './functions/colors';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

#main-wrapper {
  background: colors.use-prop(text, dark);
  background: var(--color-bg-dark);
  display: grid;
  grid-template-columns: minmax(25px, 150px) minmax(50%, 90%) minmax(25px, 150px);
  grid-template-areas: "left center right";
  width: 100vw;
  min-height: 100vh;
}

.content {
  grid-area: center;
  background: goldenrod;

  @include screens.max("md") {
    background: red;
  }
}
