@use 'vars';

@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:200,400,600,800");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background: vars.$offBlack;
  color: vars.$offWhite;
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat Alternates";
  overflow-x: hidden; // hack
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.25em;
  font-weight: 700;
  line-height: 1.3;
}

h1,
.h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2,
.h2 {
  font-size: 2.441rem;
}

h3,
.h3 {
  font-size: 1.953rem;
}

h4,
.h4 {
  font-size: 1.563rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

p {
  line-height: 1.75em;
}

main {
  perspective: 1500px;

  &.nav-open {
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
}

.page-wrapper {
  min-width: 100vw;
  min-height: calc(100vh - 53px);
  position: relative;
  background: vars.$offBlack;
  transition: transform 0.25s ease;
  z-index: 10;
  display: flex;
  justify-content: center;

  .nav-open & {
    height: 100vh;
    overflow: hidden;
    user-select: none;
    touch-action: none;

    transform-origin: 0 50%;
    position: fixed;

    transform: translateZ(-125vw) translateX(-40%) rotateY(30deg);
    border-top: 10px solid #{nth(vars.$colors, 1)};
    border-bottom: 10px solid #{nth(vars.$colors, 1)};
    background-image: linear-gradient(#{vars.cosmic_gradient()}), linear-gradient(#{vars.cosmic_gradient()});
    background-size: 10px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
  }
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: vars.$offWhite;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: vars.$offWhite;
}

::-webkit-scrollbar-thumb {
  background-color: nth(vars.$colors, 1);
  background-image: linear-gradient(#{vars.cosmic_gradient()});
}

// *,
[class~="?"] {
  border: 2px solid cyan;
}
