@use 'vars';

//Variables
$anchorOffset: 0;
.text-btn {
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  transition: color 0.25s ease;
  padding: 0 2px;
  margin: 0 2px;

  &:before,
  &:after {
    content: "";
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    transition: height 0.25s ease;
  }
  &:after {
    right: 0;
  }
  &:hover {
    &:after,
    &:before {
      height: 100%;
    }
  }

  @for $i from 1 through length(vars.$colors) {
    &:nth-child(#{length(vars.$colors)}n + #{$i}) {
      color: nth(vars.$colors, $i);
      &:before,
      &:after {
        $color: nth(vars.$colors, $i);
        background: darken($color, 20%);
      }
      &:hover {
        color: vars.$offBlack;
      }
    }
  }
}

.btn {
  border: 1px solid white;
  color: white;
  text-decoration: none;
  padding: vars.$padding/2 vars.$padding;
  transition: all 0.25s ease;

  span {
    display: inline-block;
    margin-right: vars.$padding/2;
  }

  &.-link {
    border: none;
  }

  &:not(:last-child) {
    margin-right: vars.$padding/2;
  }
}
