@use './functions/colors';
@use './functions/fonts';

// TODO: Update all padding to use CSS Var

.btn {
  font-size: fonts.size(text, 4);
  color: colors.use-var(text, light);
  border: 1px solid colors.use-var(text, light);
  padding: 0.5rem;
  text-decoration: none;
  background: transparent;

  span + svg {
    display: inline-block;
    margin-left: 0.5rem;
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }
}
