@use './functions/colors';
@use './functions/fonts';
@use './vars/colors' as *;

.page {
  position: relative;
}

.page-header {
  padding: 20rem 0 2rem;
  max-width: 100ch;
}

.page-header__title {
  font-family: fonts.family(display);
  font-size: fonts.size(display, 1);
}

.page-header__desc {
  font-size: fonts.size(heading, 1);
}

.page-header-actions {
  padding: 1rem 0 0;

  @for $i from 1 through length($colors) {
    .btn:nth-child(#{length($colors)}n + #{$i}) {
      $color: nth($colors, $i);
      --color: #{$color};
      --hover-text: #{darken($color, 50%)};
      border-color: var(--color);
      color: var(--color);

      &:focus,
      &:hover {
        outline: none;
        color: var(--hover-text);
        filter: hue-rotate(15deg);
        background: var(--color);
      }
    }
  }
}

.section {
  p {
    line-height: fonts.height(comfortable);
  }
}
