@use 'vars';

.page {
  width: clamp(500px, 80vw, 2500px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr minmax(200px, 300px);
  grid-template-rows: 30vh 50vh;
  grid-template-areas:
    "header empty"
    "featured featured";
  gap: vars.$padding;
  row-gap: vars.$padding * 2;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
}

.page-header {
  grid-area: header;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.page__title {
  font-size: 6.5rem;
  margin: 0;
}

.page__sub-title {
  font-size: 2.75rem;
  margin: 0;
}

.page-actions {
  margin-top: vars.$padding;
}

.page-action.btn {
  @for $i from 1 through length(vars.$colors) {
    &:nth-child(#{length(vars.$colors)}n + #{$i}) {
      border-color: nth(vars.$colors, $i);
      color: nth(vars.$colors, $i);
      &:hover {
        color: vars.$offBlack;
        background: nth(vars.$colors, $i);
      }
    }
  }
}

.page-featured {
  grid-area: featured;
  margin-top: vars.$padding;
}

.page-featured__title {
  margin: 0;
  padding-bottom: vars.$padding;
  border-bottom: 1px solid white;
  font-weight: 400;
  font-size: 2.2rem;
}
