@use './functions/fonts';
@use './functions/colors';

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: fonts.family(text);
  margin: 0;
  line-height: 1.25em;
}

h1,
.h1 {
  font-size: fonts.size(heading, 1);
}

h2,
.h2 {
  font-size: fonts.size(heading, 2);
}

h3,
.h3 {
  font-size: fonts.size(heading, 3);
}

h4,
.h4 {
  font-size: fonts.size(heading, 4);
}

h5,
.h5 {
  font-size: fonts.size(heading, 5);
}

h6,
.h6 {
  font-size: fonts.size(heading, 6);
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-family: fonts.family(display);
  font-weight: fonts.weight(thick);
  margin: 0;
  line-height: 1.25em;
}

.display-1 {
  font-size: fonts.size(display, 1);
}

.display-2 {
  font-size: fonts.size(display, 2);
}

.display-3 {
  font-size: fonts.size(display, 3);
}

.display-4 {
  font-size: fonts.size(display, 4);
}

.display-5 {
  font-size: fonts.size(display, 5);
}

.display-6 {
  font-size: fonts.size(display, 6);
}

.text-1 {
  font-size: fonts.size(text, 1);
}

.text-2 {
  font-size: fonts.size(text, 2);
}

.text-3 {
  font-size: fonts.size(text, 3);
}

.text-4 {
  font-size: fonts.size(text, 4);
}

.text-5 {
  font-size: fonts.size(text, 5);
}
