.page {
  position: relative;
}

.page-header {
  padding: 20rem 0 2rem;
  max-width: 100ch;
}

.page-header__title {
  font-family: var(--font-family-display);
  font-size: var(--font-size-display-1);
}

.page-header__desc {
  font-size: var(--font-size-heading-1);
}

.page-header-actions {
  padding: 1rem 0 0;
}

/* Accent color cycled across page-header action buttons */
.page-header-actions .btn:nth-child(6n + 1) { --color: #00d6e9; --hover-text: black; }
.page-header-actions .btn:nth-child(6n + 2) { --color: #15e3d9; --hover-text: black; }
.page-header-actions .btn:nth-child(6n + 3) { --color: #56edbf; --hover-text: #073d2d; }
.page-header-actions .btn:nth-child(6n + 4) { --color: #8cf5a2; --hover-text: #0a7821; }
.page-header-actions .btn:nth-child(6n + 5) { --color: #c2f985; --hover-text: #427906; }
.page-header-actions .btn:nth-child(6n + 6) { --color: #f9f871; --hover-text: #676604; }

.page-header-actions .btn {
  border-color: var(--color);
  color: var(--color);

  &:focus,
  &:hover {
    outline: none;
    color: var(--hover-text);
    filter: hue-rotate(15deg);
    background: var(--color);
  }
}

.section p {
  line-height: var(--font-height-comfortable);
}
