@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:200,400,600,800");

html,
body {
  background: #222;
  color: white;
  margin: 0;
  padding: 0;
}

main {
  position: fixed;
  perspective: 1500px;

  &.nav-open {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.container {
  position: relative;
  background: #000;
  width: 100vw;
  height: 100vh;
  transition: all 0.25s ease;
  z-index: 10;

  .nav-open & {
    user-select: none;
    touch-action: none;

    transform-origin: 0 50%;
    position: fixed;

    // transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
    transform: translateZ(-125vw) translateX(-40%) rotateY(30deg);
    outline: 30px solid goldenrod;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.logo {
  margin: 0;
}

.outer-nav {
  transform-style: preserve-3d;
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);

  a {
    display: block;
    color: white;
    font-size: 3rem;
    padding: 2rem 0;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: all 0.35s ease-in-out;
    transform: translateX(350px) translateZ(-1000px);
    opacity: 0;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        transition-delay: #{$i * 0.05}s;
      }
    }

    .nav-open & {
      transform: translateX(0) translateZ(0);
      opacity: 1;
    }

    &:before {
      transition: all 0.25s ease;
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0%;
      height: 10px;
      background: goldenrod;
    }

    &:hover,
    &.active {
      &:before {
        content: "";
        width: 110%;
      }
    }
  }
}
