@use '../vars/fonts';

@function size($group, $size) {
  @return var(--font-size-#{$group}-#{$size});
}

@function family($group) {
  $map: map-get(fonts.$details, family);

  @if map-has-key($map, $group) {
    @return var(--font-family-#{$group});
  } @else {
    @error "`#{$group}` is not a valid key in `$details.family`.";
  }
}

@function weight($weight) {
  $map: map-get(fonts.$details, weight);

  @if map-has-key($map, $weight) {
    @return var(--font-weight-#{$weight});
  } @else {
    @error "`#{$weight}` is not a valid key in `$details.weight`.";
  }
}

@function height($height) {
  $map: map-get(fonts.$details, height);

  @if map-has-key($map, $height) {
    @return var(--font-family-#{$height});
  } @else {
    @error "`#{$height}` is not a valid key in `$details.height`.";
  }
}
